#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  text-align: center;
}

main{
  min-width: 100vw;
  min-height: 100vh;
}

#gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
}