
body {
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");  
}

h1 {
    background-color: aquamarine;
}

.content {
    background-color: blue;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    background-size: 50;
}